Libraries/MacOS/.DS_Store
Libraries/Windows/.DS_Store
Libraries/.DS_Store
SDKs
JUCE/_.github
Libraries/MacOS/soxr/share/.DS_Store
Libraries/MacOS/soxr/.DS_Store
_Bundle-resources
_mac-libs
build
cmake/_Subproject.cmake
mcfx_convolver/_JuceLibraryCode
mcfx_convolver/.DS_Store
osx_resources/_tempMacOSXBundleInfo.plist
toDelete
xcode
.DS_Store
_CMakeLists.txt
